<%= render "shared/header" %>

<div class="offence-main-wrap">
  <div class="offence-side-wrap">
  </div>
  <table class="offence-members">
    <tr>
      <th class="batting-order">打順</th>　
      <th class="start-order-names">選手名</th>
    　<th class="positioning">守</th>
    　<th class="throwing">投</th>
    　<th class="batting">打</th>
      <th class="order-school-year">学年</th>
    </tr>

    <tr>
      <td>１</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>３</td>
    </tr>
    <tr>
      <td>２</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
    　<td>３</td>
    </tr>
    <tr>
      <td>３</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>３</td>
    </tr>
    <tr>
      <td>4</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>３</td>
    </tr>
    <tr>
      <td>5</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>3</td>
    </tr>
    <tr>
      <td>6</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>3</td>
    </tr>
    <tr>
      <td>7</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>3</td>
    </tr>
    <tr>
      <td>8</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>3</td>
    </tr>
    <tr>
      <td>9</td>
      <td>hoge</td>
      <td>遊</td>
      <td>右</td>
      <td>左</td>
      <td>3</td>
    </tr>
  </table>
  <div class="charge-send-wrap">
    <div class="member-change-wrap">
      <input type="submit" value="Change" class="member-change-btn">
    </div>
    <div class="offence-set-wrap">
      <input type="submit" value="保存する" class="order-create-btn">
    </div>
  </div>
</div>

<%= render "shared/footer" %>