<header>
  <div class="header-contents">
    <div class="header-logo">
      <h1>VictoryMembers</h1>
    </div>
    <div class="header-lists">
      <ul class="list-contents">
        <li><%= link_to "ログイン", "#", class:"log-in" %></li>
        <li><%= link_to "新規登録", "#", class:"session" %></li>
      </ul>
    </div>
  </div>
</header>

<div class="main-page">
  <div class="first-view">
    <div class="top-image-content">
      <%= image_tag "441449_m.jpg", class:"top-image" %>
      <div class="main-text">
        <h2>さぁ、ベストメンバーを</h2>
        <h2 class="sub-text">作成しよう！！</h2>
      </div>
    </div> 
  </div>
  <div class="second-view">
    
  </div>
</div>
<footer>

</footer>
